secret
dumps

node_modules

www/*.log
www/.htaccess
www/sitemap.xml
www/sitemap.xml.gz
www/wp-config.php
www/wp-content/advanced-cache.php
www/wp-content/backup-db/
www/wp-content/backups/
www/wp-content/blogs.dir/
www/wp-content/cache/
www/wp-content/upgrade/
www/wp-content/uploads/
www/wp-content/updraft/
www/wp-content/wp-cache-config.php
www/wp-content/plugins/hello.php
www/wp-content/plugins/arbreintegral/vendor/tcpdf/fonts/

www/readme.html
www/license.txt
www/index.html
www/wp-content/plugins/arbreintegral/vendor/tcpdf/examples/
