body {
  font-family: 'Sanchez', serif;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.ai-word--up {
    font-family: 'Kite One', sans-serif;
    color: #487abd; }
  a.ai-word--down {
    font-family: 'Kite One', sans-serif;
    color: #807830; }

#maincontainer {
  bottom: 0;
  margin: 0;
  border: 0;
  height: 100%; }

#ai-page {
  position: absolute;
  width: 100%;
  top: 0; }

.ai-text {
  display: flex;
  flex-direction: column;
  height: 100%; }

.ai-root {
  background-color: black;
  font-size: 5em; }
  .ai-root td, .ai-root a {
    color: white; }
  .ai-root td {
    text-align: center; }

.ai-up {
  background-color: #becfc3; }

.ai-down {
  background-color: #2f2e0c; }
  .ai-down .circle-current--content {
    color: white; }

.ai-word {
  padding: 2em;
  font-size: 1.6em;
  font-family: 'Kite One', sans-serif; }

.tree-breadcrumb {
  padding-right: 1em;
  font-size: 1.4em;
  color: white;
  transform-origin: right top;
  transform: translatex(-100%) rotate(-90deg);
  float: left; }

.circle {
  min-height: 5em;
  justify-content: space-around;
  display: flex;
  flex-direction: row; }

.circle-current--content {
  font-size: 2.5em;
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: center;
  text-align: center; }

.circle-6 {
  background-color: #DFDFDF; }
  .circle-6 .circle-current--content {
    font-family: 'Asap', sans-serif;
    color: black; }
  .circle-6 .tree-breadcrumb {
    color: black; }

/***************
 * cover
 ***************/
#ai-cover {
  background: whitesmoke;
  text-align: center;
  font-size: 12em;
  opacity: 1;
  z-index: 999;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  animation: ai-cover-animation 5s forwards; }
  #ai-cover .ai-cover--author {
    font-size: 7em; }
  #ai-cover .ai-cover--credits {
    font-size: 4em; }

.ai-seed-down:hover {
  text-decoration: none;
  color: #807830; }

.ai-seed-up:hover {
  text-decoration: none;
  color: #487abd; }

@keyframes ai-cover-animation {
  25% {
    opacity: 1; }
  99% {
    width: 100%;
    height: 100%;
    opacity: 0; }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0; } }

/***************
 * last text
 ***************/
.ai-last {
  text-transform: uppercase;
  animation: ai-blink 1s steps(5, start) infinite; }

@keyframes ai-blink {
  to {
    visibility: hidden; } }

/***********************
 * DASHBOARD
 **********************/
#dashboard {
  position: absolute;
  top: 0;
  background-color: whitesmoke;
  border: 1px solid black;
  text-align: center; }

.dashboardLink {
  position: absolute;
  left: 0px;
  animation: ai-dashboardlink-animation 1s forwards; }

@keyframes ai-dashboardlink-animation {
  to {
    left: -82px; } }

.ai-closed {
  left: 100%; }

.ai-opened {
  right: 0; }

.ai-progress-container::before {
  content: "O "; }

.ai-progress-container::after {
  content: " X"; }

.ai-progress {
  display: inline-block;
  width: 20em;
  vertical-align: middle;
  text-align: left; }
  .ai-progress div {
    display: inline-block;
    border-color: whitesmoke;
    border: 0 none whitesmoke;
    width: 0.79%;
    height: 100%; }
  .ai-progress .ai-progress-up {
    border-top: 0.3em solid #487abd;
    border-bottom: 0.3em solid whitesmoke; }
  .ai-progress .ai-progress-down {
    border-top: 0.3em solid whitesmoke;
    border-bottom: 0.3em solid #807830; }
  .ai-progress .ai-progress-remaining {
    border-top: 0.3em solid lightgray;
    border-bottom: 0.3em solid lightgray; }

.dashboard--menu {
  text-align: left; }

/********************
 * SVG
 ********************/
.viz-neighbor {
  cursor: pointer; }
