$color-up: rgb(72,122,189);
$color-down: rgb(128,120,48);
$color-background: rgb(245,245,245);
$color-text: rgb(47,46,12);

$color-background-up: rgb(190,207,195);
$color-background-down: rgb(47,46,12); 

$color-background-dashboard: rgb(245,245,245); //F5F5F5 white-smoke;

$color-background-circle6: #E2FBBC; //caper

body {
  font-family: 'Sanchez', serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  &.ai-word--up {
    font-family: 'Kite One', sans-serif;
    color: $color-up; 
  }

  &.ai-word--down {
    font-family: 'Kite One', sans-serif;
    color: $color-down; 
  }
}

#maincontainer {
  bottom: 0;
  margin: 0;
  border: 0;
}

#ai-text {
  display: flex;
  flex-direction: column;
}

.ai-root {
  background-color: black;
  font-size: 5em;
  td, a {
    color: white;
  }
  td {
    text-align: center;
  }
  
}

.ai-up {
  background-color: $color-background-up;
}

.ai-down {
  background-color: $color-background-down;
  .circle-current--content {
    color: white;
  }
}

.ai-word {
  padding: 2em;
  font-size: 1.6em;
  font-family: 'Kite One', sans-serif;
}

.tree-breadcrumb {
  font-size: 1.4em;
  color: white;
  transform-origin: right top;
  transform: translatex(-100%) rotate(-90deg);
  float: left;
}

.circle {
  min-height: 5em;
  justify-content: space-around;

  display: flex;
  flex-direction: row;
}

//Defaults font for circles 1 to 5
.circle-current--content {
  font-size: 2.5em;
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.circle-6 {
  background-color: $color-background-circle6;
  .circle-current--content {
    font-family: 'Asap', sans-serif;
    color: black;
  }

  .tree-breadcrumb {
    color: black;
  }
}

/***************
 * interstice
 ***************/

#ai-interstice {
  background: $color-background;
  text-align: center;
  font-size: 2.5em;

  .ai-cover--author {
    font-size: 1.5em;
  }
  .ai-cover--credits {
    font-size: 0.8em; 
  }

  z-index: 999;
  overflow:hidden;
  position:absolute;

  width: 100%;
  height: 100%;
  animation: ai-interstice-animation 0s ease-in 2s forwards;
  animation-fill-mode: forwards;
}

@keyframes ai-interstice-animation {
  to {
    width:0%;
    height:0%;
  }
}

/***************
 * last text
 ***************/

.ai-last {
  text-transform: uppercase;
  animation: ai-blink 1s steps(5, start) infinite;
}

@keyframes ai-blink {
  to {
    visibility: hidden;
  }
}


/***********************
 * DASHBOARD
 **********************/

#dashboard {
  position: absolute; 
  top:0;

  background-color: $color-background-dashboard;
  border: 1px solid black;
  text-align: center;
}
.dashboardLink {
  position: absolute; 
  left:-82px;
}

.ai-closed {
  left:100%;
}
.ai-opened {
  right:0;
}

.ai-progress-container {
  // &::before { content: "["; }
  // &::after { content: "]"; }
}

.ai-progress {
  text-align: left;
  width: 20em;
  display: inline-block;
  background-color: lightgray;
  border-bottom: 0.3em solid lightgray;
  height: 0.6em;
  vertical-align: middle;

  div {
    display: inline-block;
    // box-sizing: border-box;
    border-color: $color-background-dashboard; 
    border: 0 none $color-background-dashboard;
    width: 0.79%;
    height: 100%;
  }

  .ai-progress-up {
    border-top: 0.3em solid $color-up;
    background-color: #EEE;
  }

  .ai-progress-down {
    border-bottom: 0.3em solid $color-down;
    background-color: #EEE;
  }

  // .ai-progress-left {
  //   background-color: lightgray;
  // }
}

#history {
  text-align: left;
  padding: 2em;
}

/********************
 * SVG
 ********************/

.viz-neighbor {
  cursor: pointer;
}
