#ai-text {
  display: flex;
  flex-direction: column;
}

.tree-breadcrumb {
  height: 2em;
}

.circle {
  height: 5em;
  justify-content: space-around;

  display: flex;
  flex-direction: row;
}

#dasboard {
  display: flex;
  flex-direction: row;
}

