$color-up: rgb(72,122,189);
$color-down: rgb(128,120,48);
$color-background: rgb(245,245,245);
$color-text: rgb(47,46,12);

$color-background-up: rgb(190,207,195);
$color-background-down: rgb(47,46,12); 

$color-background-dashboard: rgb(245,245,245); //F5F5F5 white-smoke;

$color-background-circle6: #DFDFDF; //caper

body {
  font-family: 'Sanchez', serif;
  margin:0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  &.ai-word--up {
    font-family: 'Kite One', sans-serif;
    color: $color-up; 
  }

  &.ai-word--down {
    font-family: 'Kite One', sans-serif;
    color: $color-down; 
  }
}

#maincontainer {
  bottom: 0;
  margin: 0;
  border: 0;
  height:100%;
}

#ai-page {
  position: absolute;
  width: 100%;
  top: 0;
}

.ai-text {
  display: flex;
  flex-direction: column;
  height:100%;
}

.ai-root {
  background-color: black;
  font-size: 5em;
  td, a {
    color: white;
  }
  td {
    text-align: center;
  }
  
}

.ai-up {
  background-color: $color-background-up;
}

.ai-down {
  background-color: $color-background-down;
  .circle-current--content {
    color: white;
  }
}

.ai-word {
  padding: 2em;
  font-size: 1.6em;
  font-family: 'Kite One', sans-serif;
}

.tree-breadcrumb {
  padding-right: 1em;
  font-size: 1.4em;
  color: white;
  transform-origin: right top;
  transform: translatex(-100%) rotate(-90deg);
  float: left;
}

.circle {
  min-height: 5em;
  justify-content: space-around;

  display: flex;
  flex-direction: row;
}

//Defaults font for circles 1 to 5
.circle-current--content {
  font-size: 2.5em;
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.circle-6 {
  background-color: $color-background-circle6;
  .circle-current--content {
    font-family: 'Asap', sans-serif;
    color: black;
  }

  .tree-breadcrumb {
    color: black;
  }
}

/***************
 * cover
 ***************/

#ai-cover {
  background: $color-background;
  text-align: center;
  font-size: 12em;
  opacity: 1;

  .ai-cover--author {
    font-size: 7em;
  }
  .ai-cover--credits {
    font-size: 4em; 
  }

  z-index: 999;
  overflow:hidden;
  position:absolute;
  top:0;

  width: 100%;
  height: 100%;
  animation: ai-cover-animation 5s forwards;
}

.ai-seed-down {
  &:hover{
    text-decoration: none;
    color: $color-down;
  }
}

.ai-seed-up {
  &:hover{
    text-decoration: none;
    color: $color-up;
  }
}

@keyframes ai-cover-animation {
  25% {
    opacity: 1;
  }
  99% {
    width:100%;
    height:100%;
    opacity: 0;
  }
  100% {
    width:0%;
    height:0%;
    opacity: 0;
  }
}

/***************
 * last text
 ***************/

.ai-last {
  text-transform: uppercase;
  animation: ai-blink 1s steps(5, start) infinite;
}

@keyframes ai-blink {
  to {
    visibility: hidden;
  }
}


/***********************
 * DASHBOARD
 **********************/

#dashboard {
  position: absolute; 
  top:0;

  background-color: $color-background-dashboard;
  border: 1px solid black;
  text-align: center;
}
.dashboardLink {
  position: absolute; 
  left:0px;
  animation: ai-dashboardlink-animation 1s forwards;
}

@keyframes ai-dashboardlink-animation {
  to {
    left:-82px;
  }
}

.ai-closed {
  left:100%;
}
.ai-opened {
  right:0;
}

.ai-progress-container {
  &::before { content: "O "; }
  &::after { content: " X"; }
}

.ai-progress {
  display: inline-block;
  width: 20em;
  vertical-align: middle;
  text-align: left;

  div {
    display: inline-block;
    border-color: $color-background-dashboard; 
    border: 0 none $color-background-dashboard;
    width: 0.79%;
    height: 100%;
  }

  .ai-progress-up {
    border-top: 0.3em solid $color-up;
    border-bottom: 0.3em solid $color-background-dashboard;
  }

  .ai-progress-down {
    border-top: 0.3em solid $color-background-dashboard;
    border-bottom: 0.3em solid $color-down;
  }

  .ai-progress-remaining {
    border-top: 0.3em solid lightgray;
    border-bottom: 0.3em solid lightgray;
  }
}

#history {
  text-align: left;
  padding: 2em;
}

/********************
 * SVG
 ********************/

.viz-neighbor {
  cursor: pointer;
}
