/* ==========================================================================
   Animations declarations
   ========================================================================== */

@keyframes appear {
	from {
		visibility: hidden; opacity: 0;
	}
	40% {
		visibility: visible; opacity: 0;
	}
	top {
		opacity: 1;
	}
}
