/* ==========================================================================
   Animations declarations
   ========================================================================== */

@keyframes appear {
	from {
		visibility: hidden; opacity: 0;
	}
	40% {
		visibility: visible; opacity: 0;
	}
	top {
		opacity: 1;
	}
}

/********* 
 * henri *
 *********/

.viz-animate-up {
  animation: viz-animation-up 1s forwards;
}
@keyframes viz-animation-up{
  to {
    transform:rotate(-180deg);
  }
}

.viz-animate-down {
  animation: viz-animation-down 1s forwards;
}

@keyframes viz-animation-down{
  to {
    transform:rotate(180deg);
  }
}


.blink_text {
 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
