/* ==========================================================================
   Main layout
   ========================================================================== */

html {
	font-family: $default-font-family;
}

html, body {
	height: 100%;
	min-height: 100%;
}

#ai-page, #app {
  height: 1px;
	min-height: 100%;
}

.wordpress-page {
  #ai-page, #app {
    min-height: 0%;
  }
}
.day-page, .night-page, .circle6-page, .other-page {
  #main, #primary {
    display:none;
  }
}

a {
	transition: .2s ease-in-out;
}

.main-container {
	display: flex; padding-top: 20%;
	@media (min-width: $responsive-breakpoint) {
		height: 100%; padding-top: 0;
	}
	& > * {
		margin: auto; padding: 1em;
	}
}

.edito-container {
	@extend .clearfix;
	padding: 3em 1em;
	@media (min-width: $responsive-breakpoint) {
		max-width: 40em; margin: 0 auto; padding: 5em;
	}
}

[id='side-panel'] {
	position: fixed; top: 0; right: 0; bottom: 0; z-index: 10;
	transform: translateX(100%);
	background: $lightgrey;
  color: $black;
	transition: transform .2s ease-out;
	&.active {
		transform: translateX(0);
		box-shadow: 0 0 1em black;
	}
	.dashboardLink {
    &:hover {
      cursor: pointer;
    }
		position: absolute; top: 1em; right: 100%; z-index: -1; width: 3em; margin: 0; padding: 0;
		border: 0; outline: 0;
		background: none;
		@media (min-width: $responsive-breakpoint) {
			top: 2em; width: 5.125em;
		}
	}
	.side-panel-content {
    background: $lightgrey;
		width: 15em; height: 100%; padding: 1em; overflow: auto; box-sizing: border-box;
		@media (min-width: $responsive-breakpoint) {
			width: 30em; padding: 3em;
		}
	}
	.location {
		margin-bottom: 1em;
		font-family: $links-font-family; color: $pink;
	}
	.map {
		width: 100%;
	}
	.situation-container {
		display: flex; margin: 3em 0;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
	.situation-begin, .situation-end {
    width: 1em; height: 1em;
    padding: 0 .25em;
    display: flex;
    align-items: center;
    & > img {
      width: 100%; height:100%;
    }
  }
	.situation {
		display: flex;
    margin: 0 0;
    flex-grow: 1;
    height: 0.7em;
		align-items: stretch;
		& > * {
			flex: 1;
			background: $grey;
			line-height: 1; text-align: center;
      border-right: 1px solid lightgrey;
		}
		.ai-up, .ai-down {
			height: .35em;
		}
		.ai-up {
			align-self: flex-start;
			background: $color-up;
		}
		.ai-down {
			align-self: flex-end;
			background: $color-down;
		}
		img {
			width: 1em;
		}
	}
	.navigation {
		padding: 0;
		&, ul {
			list-style: none;
		}
		ul {
			max-height: 0; overflow: hidden;
			transition: max-height .5s ease-in-out;
			&.active {
				max-height: 250em;
				transition-duration: 1s;
			}
		}
    #historyList {
			font-family: $links-font-family; line-height: 1.5em;
      a {
        border-bottom: 0;
        &:hover, &:focus {
          color: $pink;
        }
      }
    }
		li::before {
			display: inline-block; margin-right: .25em;
			font-size: 1em; font-weight: bold;
			content: '\2022'; vertical-align: middle;
		}
		& > li::before {
			color: $grey;
			content: '+';
		}
    button, a {
      display: inline-block;
      color: inherit; text-decoration: none;
      vertical-align: middle;
    }
		& > li {
			& > button, &  a {
        border-bottom: 1px dotted transparent;
        &:hover {
          border-bottom-color: currentColor;
          // text-decoration: none; color: $pink;
        }
      }
    }
  }
}
.about-link {
  float: right; display: block; width: 3em; height: 3em; margin-top: -3em;
  background: center / cover no-repeat url(../img/assets/logo-home.svg);
  content: '';
  @media (min-width: $responsive-breakpoint) {
    bottom: 3em; right: 3em; width: 6em; height: 6em; margin-top: -6em;
  }
  img {
    width: 100%;
  }
}
.breadcrumb {
	position: absolute; top: 1em; left: 1em; right: 1em; z-index: 9;
		@media (min-width: $responsive-breakpoint) {
	font-size: 1.25em; line-height: 1em;
}
	& > * {
		@media (min-width: $responsive-breakpoint) {
			position: fixed; display: block; right: auto;
			transform: rotate(-90deg) translateX(-100%); transform-origin: top left;
		}
	}
}

.share {
	position: fixed; bottom: 0; left: 0; padding: 1em;
	@media (max-width: $responsive-breakpoint) {
		background: rgba(black, .1);
	}
	.share-btn {
		border-bottom: 1px dotted transparent;
		font-size: 1.25em;
		&:hover, &:focus {
			border-bottom-color: currentColor;
		}
	}
	[id='share-panel'], [id='share-panelw'] {
		position: absolute; top: .8em; left: 100%; max-width: 0; overflow: hidden;
		font-size: 1.25em; white-space: nowrap;
		fill: currentcolor;
		transition: max-width .2s ease-in-out;
		&.active {
			max-width: 5em;
		}
		a, a:visited {
      fill: currentcolor;
			display: inline-block;
			color: inherit;
      text-decoration: none;
		}
		svg {
			display: block; width: 1.5em;
		}
	}
}
