/* ==========================================================================
   Main layout
   ========================================================================== */

html {
	font-family: $default-font-family;
}

html, body {
	height: 100%;
	min-height: 100%;
  transition: background-color .35s ease-in;
}

#ai-page, #app {
  height: 1px;
	min-height: 100%;
}

.wordpress-page {
  #ai-page, #app {
    min-height: 0%;
  }
}
.day-page, .night-page, .circle6-page, .other-page {
  #main, #primary {
    display:none;
  }
}

a {
	transition: .2s ease-in-out;
}

.main-container {
	display: flex;
  height: 100%;
  padding-top: 0;
	& > * {
		margin: auto; padding: 1em;
	}
	@media (max-width: $responsive-breakpoint) {
    padding-top: 3em;
    // & > * {
    //   margin-top: inherit;
    // }
	}
}

.edito-container {
	@extend .clearfix;
  max-width: $responsive-breakpoint;
  margin: 0 auto;
  padding: 5em;
	@media (max-width: $responsive-breakpoint) {
    padding: 3em 1em;
	}
	a {
    border-bottom: 1px dotted transparent;
    text-decoration: none; color: black;
    border-bottom-color: currentColor;
    &:hover, &:focus {
      border-bottom-color: currentColor;
      text-decoration: none; color: $pink;
    }
	}
}

.flexwrap {
  [id='side-panel'] {
    //Android does not support well this transition : it makes disappear the svg
    transition: transform .2s ease-out;
  }
}

[id='side-panel'] {
	position: fixed; top: 0; right: 0; bottom: 0; z-index: 10;
	transform: translateX(100%);
	background: $lightgrey;
  color: $black;
	&.active {
		transform: translateX(0);
		box-shadow: 0 0 1em black;
	}
	.dashboardLink {
    &:hover {
      cursor: pointer;
    }
		position: absolute;
    right: 100%; z-index: -1;  margin: 0; padding: 0;
		border: 0; outline: 0;
    background: none;
    top: 2em; width: 5.125em;
    .svgLogoContainer { width: 120px; height: 120px; }
    @media (max-width: $responsive-breakpoint) {
      top: 1em; width: 3em;
      .svgLogoContainer { width: 70px; height: 70px; }
    }
	}
	.side-panel-content {
    background: $lightgrey;
    height: 100%;  overflow: auto; box-sizing: border-box;
    width: 30em; padding: 3em;
    svg { max-height: 28em; }
    @media (max-width: $responsive-breakpoint) {
      width: 15em; padding: 1em;
      svg { max-height: 13em; }
    }
	}
	.location {
		// margin-bottom: 1em;
		font-family: $links-font-family; color: $pink;
	}
	.map {
		width: 100%;
	}
	.situation-container {
		display: flex; margin: 3em 0;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
	.situation-begin, .situation-end {
    width: 1em; height: 1em;
    padding: 0 .25em;
    display: flex;
    align-items: center;
    & > img {
      width: 100%; height:100%;
    }
  }
	.situation {
		display: flex;
    flex-grow: 1;
		align-items: stretch;
    margin: 0 0;
    height: 0.7em;
		& > * {
      display: flex;
			flex: 1;
			background: $grey;
			line-height: 1; text-align: center;
			min-height: 1px;
      // border-right: 1px solid lightgrey;
		}
		.ai-up, .ai-down {
			height: 0;
		}
		.ai-up {
			// align-self: flex-start; background: $color-up;
      border-top: 0.35em solid $color-up;
      border-bottom: 0.35em solid $lightgrey;
		}
		.ai-down {
			// align-self: flex-end; background: $color-down;
      border-bottom: 0.35em solid $color-down;
      border-top: 0.35em solid $lightgrey;
		}
		img {
			width: 1em;
		}
	}
	.navigation {
		padding: 0;
		&, ul {
			list-style: none;
		}
		ul {
			max-height: 0; overflow: hidden;
			transition: max-height .5s ease-in-out;
			&.active {
				max-height: 250em;
				transition-duration: 1s;
			}
		}
    #historyList {
			font-family: $links-font-family; line-height: 1.5em;
      a {
        border-bottom: 0;
        &:hover, &:focus {
          color: $pink;
        }
      }
    }
		li::before {
			display: inline-block; margin-right: .25em;
			font-size: 1em; font-weight: bold;
			content: '\2022'; vertical-align: middle;
		}
		& > li::before {
			color: $grey;
			content: '+';
		}
    button, a {
      display: inline-block;
      color: inherit; text-decoration: none;
      vertical-align: middle;
    }
		& > li {
			& > button, &  a {
        border-bottom: 1px dotted transparent;
        &:hover {
          border-bottom-color: currentColor;
          text-decoration: none; color: black;
        }
      }
    }
  }
}
.about-link {
  float: right; display: block;
  content: '';
  bottom: 2em; right: 2em;
  width: 11em; height: 11em; margin-top: -11em;
  @media (max-width: $responsive-breakpoint) {
    width: 5em; height: 5em; margin-top: -5em;
    bottom: inherit; right: inherit;
  }
  img {
    width: 100%;
  }
}
.breadcrumb {
  position: absolute; top: 0em; left: 0em; right: 0em; z-index: 9;
  font-size: 1.25em; line-height: 1em;
  @media (max-width: $responsive-breakpoint) {
    font-size: 1em; line-height: 1em;
  }
	& > * {
    position: fixed; display: block; right: auto;
    transform: rotate(-90deg) translateX(-100%); transform-origin: top left;
		@media (max-width: $responsive-breakpoint) {
			// position: fixed; display: block; right: auto;
			transform: none;
		}
	}
}
.wordpress-page .breadcrumb {
	top: 1em; left: 1em; right: 1em;
}

.share {
	position: fixed; bottom: 0; left: 0; padding: 1em;
	@media (max-width: $responsive-breakpoint) {
		background: rgba(black, .1);
		// font-size: 0.6em;
    padding: 0.6em;
	}
	.share-btn {
		border-bottom: 1px dotted transparent;
		font-size: 1.25em;
    @media (max-width: $responsive-breakpoint) {
      padding: 0.6em;
      font-size: 1em;
    }
		&:hover, &:focus {
			border-bottom-color: currentColor;
		}
	}
	[id='share-panel'], [id='share-panelw'] {
		position: absolute; top: .8em; left: 100%; max-width: 0; overflow: hidden;
		font-size: 1.25em; white-space: nowrap;
		fill: currentcolor;
		transition: max-width .2s ease-in-out;
		&.active {
			max-width: 5em;
		}
		a, a:visited {
      fill: currentcolor;
			display: inline-block;
			color: inherit;
      text-decoration: none;
		}
		svg {
			display: block; width: 1.5em;
		}
	}
}
