/* ==========================================================================
   Specifics classes
   ========================================================================== */


.start-page {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: auto; padding-bottom: 7.5em;
	background: black;
	animation: appear 5s ease-out;
}

%home-ball {
	max-width: 28.125em; max-height: 28.125em;
}

.home-content {
	//padding: 1em; box-sizing: border-box;
	.home-logo {
		@extend %home-ball;
		width: 100%;
	}
	.home-title {
		height: 6.5em; overflow: hidden; margin-top: 1em;
		text-align: center;
		line-height: 1.2;
		@media (max-width: $responsive-breakpoint) {
			font-size: .75em;
		}
	}
	.first-line {
		font-size: 1.6875em;
	}
	.second-line {
		font-size: 2.1875em;
	}
	.third-line {
		font-size: 1.375em;
	}
}

.start-content {
	@extend %home-ball;
	width: 100%;
	.start-square {
		position: relative; padding-top: 100%;
	}
	.start-inner {
		position: absolute; display: flex; top: 0; left: 0; right: 0; bottom: 0;
		flex-flow: row wrap; justify-content: center; align-items: center; align-content: center;
		//border-radius: 50%;
		//background: grey;
		text-align: center;
	}
	span {
		display: flex;
		justify-content: center; align-items: center;
		@media (max-width: $responsive-breakpoint) {
			font-size: .75em;
		}
	}
	.n, .s {
		width: 100%; height: 15%;
	}
	.nw, .ne, .sw, .se {
		width: 50%; height: 10%;
	}
	.w, .e {
		width: 25%;
	}
	.c {
		width: 50%;
	}
	.w, .c, .e {
		height: 40%;
	}
	a {
		display: inline-block; padding: .25em;
		font-size: 2.75em; line-height: 1; color: $white; text-decoration: none;
		&:hover, &:focus {
			color: $white;
		}
		&.ai-up:hover, &.ai-up:focus {
			color: $color-up;
		}
		&.ai-down:hover, &.ai-down:focus {
			color: $color-down;
		}
		&.pink:hover, &.pink:focus {
			color: $pink;
		}
	}
	.big {
		font-size: 4.5em;
	}
}
.navigate-content {
	display: flex; max-width: 60em;
	flex-flow: row wrap; align-items: center;
	@media (max-width: $responsive-breakpoint) {
		font-size: .75em;
	}
	& > * {
		box-sizing: border-box;
		text-align: center;
	}
	a {
		display: inline-block; padding: .5em;
		font-family: $links-font-family; font-size: 1.5em; text-decoration: none;
		&:hover {
			color: $pink;
		}
	}
	blockquote {
		width: 54%; margin: 0; padding: 2.5%;
		font-family: $quote-font-family; font-size: 2.5em; line-height: 1.25;
		@media (max-width: $responsive-breakpoint) {
			width: 100%;
			order: -1;
		}
	}
	.item-n, .item-s {
		width: 100%;
	}
	.item-ne, .item-nw, .item-se, .item-sw {
		width: 50%;
	}
	.item-e, .item-w {
		width: 23%;
		@media (max-width: $responsive-breakpoint) {
			width: 46%;
		}
	}
	@media (max-width: $responsive-breakpoint) {
		.item-e {
			text-align: right;
		}
		.item-w {
			text-align: left;
		}
	}
}
.circle6-page .navigate-content blockquote {
  font-family: $quote-font-family-circle6;
}

@each $page in $pages {
	$name: map-get($page, 'name');
	$background: map-get($page, 'background');
	$color: map-get($page, 'color');

	.#{$name}-page {
		background: $background;
		color: $color;
	}
}

/********* 
 * henri *
 *********/

.ai-pdf {
  height:90%;
  display: block;
  text-align: left;
  & > * {
    text-align: left;
  }
  a {
    padding: 0;
    font-family: "Sanchez", serif;
    font-size:1em;
  }
}
.ai-pdf-pending {
  font-size: 1.25em;
  line-height: 2em;
  text-align: center;
}

.end-content {
	text-align: center;
	.end-cross {
		position: relative;
		.end-text {
      opacity: 0;
			position: absolute; top: 50%; left: 50%; padding: .5em 1em;
			transform: translate(-50%, -50%);
			background: $pink;
			font-size: 1.25em;
			transition: .2s ease-in-out;
		}
		&:hover, &:focus {
			.end-text {
				opacity: 1;
			}
		}
	}
	img {
		width: 100%;
	}
	a {
		display: inline-block; margin-top: 2em;
		border-bottom: 1px dotted transparent;
		font-size: 1.25em; text-decoration: none; color: inherit;
		&:hover, &:focus {
			border-bottom-color: currentColor;
		}
	}
}
.ai-last-restart {
  position: fixed;
  bottom: 0;
  left: 0em;
  padding: 1em;
  a {
    color: black;
    font-size: 1.25em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.viz-neighbor {
  cursor: pointer;
}

//inspired by .navigate-content
.wp-content {
	display: flex; max-width: 60em;
	flex-flow: row wrap; align-items: center;
	@media (max-width: $responsive-breakpoint) {
		font-size: .75em;
	}
	& > * {
		box-sizing: border-box;
	}
	a {
		display: inline-block; padding: .5em;
		font-family: $links-font-family; font-size: 1.5em; text-decoration: none;
		&:hover {
			color: $pink;
		}
	}
}

/*** Bbpress custom **/
#bbpress-forums {
  font-family: "Source Sans Pro", Helvetica, sans-serif;

  a {
    padding: 0;
    font-size:1em;
  }
}
.wp-content {
  width: 100%;
  article {
    width: 100%;
  }
}
.entry-header, .entry-content, .entry-summary, .entry-meta {
    margin: 0 auto;
    max-width: 604px;
    width: 100%;
  }
